# Ignore downloaded model files, but keep the directory documentation.
/model/*
!/model/readme.md

# Ignore the virtual environment, but keep its documentation.
/.venv/*
!/.venv/readme.md

/.DS_Store

__pycache__/
*.py[cod]
